<div class='card'>
  <h1 class='title'>{{0.name}}</h1>
  <div class='card-body'>

    <div class='info-country'>
      <div class='capital'><span class='text-name'>Capital: </span>{{0.capital}} </div>
      <div class='population'><span class='text-name'>Population: </span>{{0.population}}</div>

      <div class='languages'><span class='text-name'>Languages: </span><ul>{{#each 0.languages}}<li
            >{{name}}</li>{{/each}}</ul></div>
    </div>

    <div class='flag'><img src='{{0.flag}}' alt='flag' class='flag-img' /></div>

  </div>
</div>